* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 245, 253);
}

.app-header {
  text-align: center;
  padding: 1em;
  font-size: 3em;
  font-family: sans-serif;
}

#app {
  grid: flex;
  text-align: center;
}

#app input {
  margin: 1em;
  width: 500px;
  height: 30px;
}

#app li {
  font-size: 1.5em;
  list-style: none;
  margin: 0.5em;
}
